ComArea_ACS14_f.dbf
ComArea_ACS14_f.prj
ComArea_ACS14_f.shp
ComArea_ACS14_f.shx
nrw_ph2_low_heath_veg.csv
interactive_map_output.html
map_output.html
interactive_map_with_bbox.html
interactive_map_with_vegetation_bbox.html
.DS_Store
110m_cultural/
earthquakes.csv
earthquake_distribution_map.html
interactive_earthquake_map.html